<h1>Bienvenue Bérengère</h1>
  <div class="container mt-5">
    <div class="card">
      <img src="https://i.ibb.co/pWdpN8b/events.jpg" alt="", class="img-home">
      <h3 class='text-center mt-3' >Événements</h3>
      <div class= 'd-flex justify-content-between m-1'>
        <%= link_to "+ Add", new_evenement_path, class:'button' %>
        <%= link_to "View", root_path, class:'btn-detail' %>
      </div>
    </div>
    <div class="card">
      <img src="https://i.ibb.co/hVCjtt8/venir.jpg" alt="", class="img-home">
      <h3 class='text-center mt-3' >Événements à venir</h3>
      <div class= 'd-flex justify-content-between m-1'>
        <%= link_to "+ Add", "#", class:'button' %>
        <%= link_to "View","#", class:'btn-detail' %>
      </div>
    </div>
    <div class="card">
      <img src="https://i.ibb.co/f2RRxKZ/jobs.jpg" alt="", class="img-home">
      <h3 class='text-center mt-3' >Offres d'emploi</h3>
      <div class= 'd-flex justify-content-between m-1'>
        <%= link_to "+ Add", "#", class: 'button' %>
        <%= link_to "View","#", class:'btn-detail' %>
      </div>
    </div>
    <div class="card">
      <img src="https://i.ibb.co/kDrtPtC/community.jpg" alt="", class="img-home">
      <h3 class='text-center mt-3' >Membres contact</h3>
      <div class= 'd-flex justify-content-between m-1'>
        <%= link_to "+ Add", "#", class:'button' %>
        <%= link_to "View","#", class:'btn-detail' %>
      </div>
    </div>
    <div class="card">
      <img src="https://i.ibb.co/FzPZ1RK/cotisation.png" alt="", class="img-home">
      <h3 class='text-center mt-3' >Cotisations</h3>
      <div class= 'd-flex justify-content-between m-1'>
        <%= link_to "+ Add", "#", class:'button' %>
        <%= link_to "View","#", class:'btn-detail' %>
      </div>
    </div>
  </div>
</div>





</div>
