
  <p>
    <strong>Titre:</strong>
    <%= evenement.title %>
  </p>

      <p>
        <strong>Date:</strong>
        <%= evenement.date %>
      </p>
      <p>
        <%= image_tag evenement.photo, height: 300, width: 400, crop: :fill %>
      </p>
      <p>
        <strong>Participants:</strong>
        <%= evenement.participant %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= evenement.content %>
      </p>
