<div id="<%= dom_id evenement %>">
  <p>
    <strong>Title:</strong>
    <%= evenement.title %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= evenement.date %>
  </p>

  <p>
    <strong>Participant:</strong>
    <%= evenement.participant %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= evenement.content %>
  </p>

</div>
