<div id="<%= dom_id evenement %>">
  <p>
    <strong>Titre:</strong>
    <%= evenement.title %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= evenement.date %>
  </p>

  <p>
    <strong>Participant:</strong>
    <%= evenement.participant %>
  </p>

  <p>
    <strong>Contenu:</strong>
    <%= evenement.content %>
  </p>

  <p>
    <strong>Image:</strong>
    <%# <%= image_tag @evenement.photo %>
  </p>

</div>
