<p style="color: green"><%= notice %></p>

<h1>Evenements</h1>

<div id="evenements">
  <% @evenements.each do |evenement| %>
    <%= render evenement %>
    <p>
      <%= link_to "Voir cet evenement", evenement %>
    </p>
  <% end %>
</div>

| <%= link_to "Nouvel evenement", new_evenement_path %> |
<%= link_to "Retour acceuil", root_path %> |
