<p style="color: green"><%= notice %></p>

<%= render @evenement %>


  <%= link_to "Changer cet évenement", edit_evenement_path(@evenement) %> | |
  <%= link_to "Retour aux évenements", evenements_path %>
  <%= button_to "Supprimer cet évenement", @evenement, method: :delete %>
